
//
// VARIABLES
//

$lmai-green: #637353;
$lmai-light-brown: #bba687;
$lmai-brown: #5f5040;
$lmai-grey: #bcb6b4;
$blue: $lmai-green;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}